{{ template "base" . }}

{{ define "learn" }}
    <a href="/learn/browse"><button type="button">Browse</button></a>
    <a href="/learn/flash-cards"><button type="button">Flash cards</button></a>
    <a href="/learn/crash-course"><button type="button">Crash Course</button></a>
{{ end }}
