{{ template "base" . }}

{{ define "learn" }}
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/learn/browse"><button type="button" class="btn btn-primary btn-lg">Browse</button></a>
        <a href="/learn/flash-cards"><button type="button" class="btn btn-primary btn-lg">Flash cards</button></a>
        <a href="/learn/crash-course"><button type="button" class="btn btn-primary btn-lg">Crash Course</button></a>
    </div>
{{ end }}
