{{ template "base" . }}

{{ define "learn" }}
    <div class="d-grid gap-2 col-4 mx-auto">
        <a href="/learn/browse" role="button" class="btn btn-primary btn-lg">Browse</a>
        <a href="/learn/flash-cards" role="button" class="btn btn-primary btn-lg">Flash cards</a>
        <a href="/learn/crash-course" role="button" class="btn btn-primary btn-lg">Crash Course</a>
    </div>
{{ end }}
