{{template "base" .}}

{{define "main"}}
<h2>Are you ready to give tarot a try?</h2><br>
<form method="POST">
    <input type="submit" formaction="/read" value="Get a reading">
    <input type="submit" formaction="/learn" value="Learn the cards">
</form>
{{end}}
