{{ template "base" . }}

{{ define "home" }}
    <div class="container text-center">
        <h2>Are you ready to give tarot a try?</h2><br>
        <a href="/read" role="button" class="btn btn-primary btn-lg">Get a reading</a>
        <a href="/learn" role="button" class="btn btn-primary btn-lg">Learn the cards</a>
    </div>
{{ end }}
