{{ template "base" . }}

{{ define "home" }}
    <h2>Are you ready to give tarot a try?</h2><br>
    <a href="/read"><button type="button">Get a reading</button></a>
    <a href="/learn"><button type="button">Learn the cards</button></a>
{{ end }}
