{{ template "base" . }}

{{ define "home" }}
    <div class="container text-center">
        <h2>Are you ready to give tarot a try?</h2><br>
        <a href="/read"><button type="button" class="btn btn-primary btn-lg">Get a reading</button></a>
        <a href="/learn"><button type="button" class="btn btn-primary btn-lg">Learn the cards</button></a>
    </div>
{{ end }}
