<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learn</title>
</head>
<body>

<h1>Learn</h1><br>
<form method="POST">
  <input type="submit" formaction="/learn/browse" value="Browse"><br>
  <input type="submit" formaction="/learn/flash-cards" value="Flash cards"><br>
  <input type="submit" formaction="/learn/crash-course" value="Crash Course"><br>
</form>
</body>
</html>